.container {
    text-align: center;
}
h1 {
    color: white;
}
p {
    color: white;
}
.gameplay-column {
    float: left;
    padding: 10px;
    border: 1px dashed rgb(188, 16, 231);
    text-align: center;
    min-height: 500px;
}
#image {
    position: relative;
    width: 90%;
    top: 50px;
    opacity: 0.5;
}
h2, h3, h4, h5 {
    padding: 5px;
    background-color: rgba(117, 25, 126, 0.479);
    color: white;
    text-align: center;
}
#you-win, #you-lose, #hint, #play-again {
    display: block;
    margin: 0 auto;
}
