
.container {
    text-align: center;
}
.gameplay-column {
    float: left;
    padding: 10px;
    border: 3px dashed white;
    text-align: center;
    min-height: 500px;
    background-color: lightslategray;
}
h2, h3, h4, h5 {
    padding: 5px;
    background-color: darkgray;
    color: white;
    text-align: center;
}
#you-win, #you-lose, #hint, #play-again {
    display: block;
    margin: 0 auto;
}
